$maxFontSize: 3.5rem;
$minFontSize: 1rem;
$maxWidth: calc(840 / 16);
$minWidth: calc(360 / 16);

// $testThis: calc(10rem / 2rem);

$rise: calc(#{$maxFontSize} - #{$minFontSize});
$run: calc(#{$maxWidth} - #{$minWidth});

$slope: calc(#{$rise} / #{$run});

$yIntersect: calc( - #{$minWidth} * #{$slope} + #{$minFontSize});

$preferredValue: calc(#{$yIntersect} + #{$slope});

$fontClamp: clamp($minFontSize, $preferredValue, $maxFontSize);

// $displayFont: clamp(#{$minFontSize}, calc(#{$slope} * 100vw) - #{$yIntersect}, #{$maxFontSize});
